### Praktikum 13 - data citra besar (jangan di-push ke Git)
praktikum-13/praktikum-mandiri/data/
praktikum-13/praktikum-mandiri/**/handwritten_digits/

### Umum: file dataset gambar / hasil download besar

